Repository tkhwang/tkhwang.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., eslint --fix, astro check

.lintstagedrc.json:

{
  "*.{astro,ts,tsx,js,jsx,json,md,css,scss,yml,yaml}": [
    "prettier --write --plugin-search-dir=."
  ],
  "*.{astro,ts,tsx,js,jsx}": "eslint --fix",
  "*.{ts,tsx,astro}": "astro check"
}

style(tag): implement CSS variables for tag styling consistency across components
  src/components/BlogPost.astro
  src/layouts/BaseLayout.astro
  src/pages/tags/[tag].astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style: unify text color styling across components using CSS variables
  src/components/BlogPost.astro
  src/components/Featured.astro
  src/layouts/BaseLayout.astro
  src/layouts/MarkdownPostLayout.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/tags/[tag].astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

chore(worktree): remove worktree setup configuration file
  .cursor/worktrees.json
Due: prettier --write --plugin-search-dir=.

fix(tags): ensure proper handling of tag data in getStaticPaths function
  src/pages/tags/[tag].astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(index): update introductory text to include TDD and AI concepts
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(featured): add Featured link and create Featured Posts page
  src/components/Navigation.astro
  src/pages/featured.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style(index): enhance section dividers for featured and latest posts
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

fix(components): adjust featured and latest posts display limits and update navigation
  src/components/Featured.astro
  src/components/LatestPosts.astro
  src/components/Navigation.astro
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

translate: update navigation and section titles to Korean
  src/components/Navigation.astro
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

refactor(components): update Heading props and enhance layout styles
  src/components/Heading.astro
  src/layouts/BaseLayout.astro
  src/pages/featured.astro
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(posts): add multiple new articles on AI, TypeScript, and testing strategies
  src/content/posts/agent-design-pattern-catalogue.md
  src/content/posts/book-my-code-is-so-weird.md
  src/content/posts/crewai-agents.md
  src/content/posts/end-to-end-testing-using-fixture.md
  src/content/posts/great-new-start.md
  src/content/posts/langchain-js.md
  src/content/posts/langchain-rag-pipeline.md
  src/content/posts/learn-in-public-korean-translation.md
  src/content/posts/mastra-ai-101-lecture-using-mcp.md
  src/content/posts/mastra-ai-book-principles-of-building-ai-agents.md
  src/content/posts/mastra-ai-workshop-memo-generator.md
  src/content/posts/mental-model-for-generative-app.md
  src/content/posts/plan-execute-agent.md
  src/content/posts/reactjs-context-module-pattern.md
  src/content/posts/typescript-how-to-use-object-type-union.md
  src/content/posts/typescript-how-to-use-unknown.md
  src/content/posts/typescript-option-vs-mandatory-undefined.md
  src/content/posts/typescript-structural-type-and-excess-property-check.md
  src/content/posts/typescript-what-is-the-type-of-error-in-try-catch.md
Due: prettier --write --plugin-search-dir=.

feat: add new RAG blog post, update homepage AI tags, and introduce typography styles for h3 and h4.
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat: add new blog post and introduce h3/h4 typography overrides to the base layout.
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

refactor: update BlogPost component layout and enhance homepage styles
  src/components/BlogPost.astro
  src/components/LatestPosts.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

refactor: enhance BaseLayout styles for improved responsiveness
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

refactor: improve code block styling and responsiveness in BaseLayout
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style: enhance strong text visibility in BaseLayout
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat: integrate KaTeX for math rendering in Markdown
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style: update typography in BaseLayout and homepage
  src/layouts/BaseLayout.astro
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style: adjust typography and content width
  src/layouts/BaseLayout.astro
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

docs(plan): add series plans
  docs/superpowers/plans/2026-03-24-typescript-ddd-ch01.md
  docs/superpowers/specs/2026-03-24-typescript-ddd-blog-series-design.md
Due: prettier --write --plugin-search-dir=.

feat(blog-ch01): add Ch.1 blog post on AI era dev methodology
  docs/superpowers/plans/2026-03-25-typescript-ddd-ch01.md
  docs/superpowers/specs/2026-03-25-typescript-ddd-ch01-design.md
  src/content/posts/xdd-ch01-framework-to-domain.md
Due: prettier --write --plugin-search-dir=.

docs(xDD): enhance content on SDD/DDD
  src/content/posts/xdd-ch01-framework-to-domain.md
Due: prettier --write --plugin-search-dir=.

docs(post): expand on SDD-DDD synergy and AI context
  src/content/posts/xdd-ch01-framework-to-domain.md
Due: prettier --write --plugin-search-dir=.

docs(blog): finalize Ch.1 and plan/design Ch.2
  docs/superpowers/plans/2026-03-25-xdd-ch02-before-after.md
  docs/superpowers/specs/2026-03-24-typescript-ddd-blog-series-design.md
  docs/superpowers/specs/2026-03-25-xdd-ch02-design.md
  src/content/posts/xdd-ch01-framework-to-domain.md
  src/content/posts/xdd-ch02-before-after.md
Due: prettier --write --plugin-search-dir=.

docs(blog): add Ch.2 content and update Ch.1`
  docs/superpowers/plans/2026-03-25-xdd-ch02-before-after.md
  docs/superpowers/specs/2026-03-24-typescript-ddd-blog-series-design.md
  docs/superpowers/specs/2026-03-25-xdd-ch02-design.md
  src/content/posts/xdd-ch01-framework-to-domain.md
  src/content/posts/xdd-ch02-before-after.md
  src/content/posts/xdd-ch02-same-requirements-different-code.md
Due: prettier --write --plugin-search-dir=.

docs(xdd-series): expand and reorder blog series roadmap
  docs/superpowers/specs/2026-03-24-typescript-ddd-blog-series-design.md
  src/content/posts/xdd-ch01-framework-to-domain.md
  src/content/posts/xdd-ch02-same-requirements-different-code.md
  src/content/posts/xdd-ch03-what-is-ddd.md
  src/content/posts/xdd-ch04-requirements-to-objects.md
  src/content/posts/xdd-ch05-sdd-spec.md
Due: prettier --write --plugin-search-dir=.

docs(series): add XDD blog series status document
  docs/xdd-series-status.md
  src/content/posts/xdd-ch01-framework-to-domain.md
  src/content/posts/xdd-ch02-same-requirements-different-code.md
  src/content/posts/xdd-ch03-what-is-ddd.md
Due: prettier --write --plugin-search-dir=.

docs: Outline XDD series example domain
  docs/xdd-series-status.md
  src/components/BlogPost.astro
  src/components/Featured.astro
  src/components/LatestPosts.astro
  src/layouts/BaseLayout.astro
  src/pages/blog.astro
  src/pages/featured.astro
  src/pages/index.astro
  src/pages/tags/[tag].astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style: simplify blog post list to minimal title+date layout
  src/components/BlogPost.astro
  src/components/Featured.astro
  src/components/LatestPosts.astro
  src/layouts/BaseLayout.astro
  src/pages/blog.astro
  src/pages/featured.astro
  src/pages/index.astro
  src/pages/tags/[tag].astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

fix(build): fix build error
  src/components/ProjectCard.astro
  src/layouts/BaseLayout.astro
  src/pages/about.astro
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

fix(ci): fix build error
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

ci(deploy): upgrade pnpm action and version
  .github/workflows/deploy.yml
Due: prettier --write --plugin-search-dir=.

docs(xdd-series): define Watchable as new domain example
  docs/watchable-PRD.md
  docs/xdd-series-status.md
Due: prettier --write --plugin-search-dir=.

docs: update example domain to content tracking
  src/content/posts/xdd-ch01-framework-to-domain.md
  src/content/posts/xdd-ch02-same-requirements-different-code.md
  src/content/posts/xdd-ch03-what-is-ddd.md
  src/content/posts/xdd-ch05-sdd-spec.md
Due: prettier --write --plugin-search-dir=.

docs: restructure series into 3-part format
  docs/xdd-series-status.md
  src/content/posts/xdd-ch01-framework-to-domain.md
  src/content/posts/xdd-ch02-same-requirements-different-code.md
  src/content/posts/xdd-ch03-what-is-ddd.md
  src/content/posts/xdd-ch04-requirements-to-objects.md
  src/content/posts/xdd-ch05-sdd-spec.md
Due: prettier --write --plugin-search-dir=.

docs(xdd-series): add comprehensive series guide
  docs/xdd-series-guide.md
  docs/xdd-series-status.md
Due: prettier --write --plugin-search-dir=.

docs: add XDD series TOC
  docs/xdd-series-toc.txt
Due: none
