Repository tkhwang/tkhwang.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., eslint --fix, astro check

docs(xdd): enhance DDD concept explanations
  docs/xdd-series-guide.md
  src/content/posts/xdd-ch02-same-requirements-different-code.md
  src/content/posts/xdd-ch03-what-is-ddd.md
  src/content/posts/xdd-ch04-requirements-to-objects.md
  src/content/posts/xdd-ch05-sdd-spec.md
Due: prettier --write --plugin-search-dir=.

docs: restructure XDD series chapters and introduce Watchable PRD
  docs/watchable.PRD.md
  docs/xdd-series-guide.DESIGN.md
  docs/xdd-series-toc.txt
  src/content/posts/xdd-ch01-framework-to-domain.md
  src/content/posts/xdd-ch02-same-requirements-different-code.md
  src/content/posts/xdd-ch03-what-is-ddd.md
  src/content/posts/xdd-ch04-ddd-building-blocks.md
  src/content/posts/xdd-ch04-requirements-to-objects.md
  src/content/posts/xdd-ch05-requirements-to-prd.md
  src/content/posts/xdd-ch05-sdd-spec.md
  src/content/posts/xdd-ch06-prd-to-domain-objects.md
  src/content/posts/xdd-ch07-sdd-spec.md
Due: prettier --write --plugin-search-dir=.

docs: Refine DDD concepts and file structure
  docs/xdd-series-guide.DESIGN.md
  src/content/posts/xdd-ch03-what-is-ddd.md
  src/content/posts/xdd-ch05-requirements-to-prd.md
  src/content/posts/xdd-ch06-prd-to-domain-objects.md
  src/content/posts/xdd-ch07-sdd-spec.md
Due: prettier --write --plugin-search-dir=.

docs(toc): update chapter descriptions
  docs/xdd-series-toc.txt
Due: none

docs: Add initial project and series documentation
  docs/0_PRD.md
  docs/1_DESIGN.md
  docs/cover.md
  docs/diagram.md
  docs/figs/diagram.png
  src/content/posts/xdd-ch05-requirements-to-prd.md
  src/content/posts/xdd-ch06-prd-to-domain-objects.md
  src/content/posts/xdd-ch07-sdd-spec.md
Due: prettier --write --plugin-search-dir=.

docs: update TDD chapter split and content
  docs/1_DESIGN.md
  docs/cover.md
  docs/xdd-series-toc.txt
  src/content/posts/xdd-ch02-same-requirements-different-code.md
  src/content/posts/xdd-ch05-requirements-to-prd.md
  src/content/posts/xdd-ch06-prd-to-domain-objects.md
  src/content/posts/xdd-ch07-sdd-spec.md
  src/content/posts/xdd-ch08-tdd-spec-to-test.md
Due: prettier --write --plugin-search-dir=.

docs: refine AI and human roles in XDD chapters
  src/content/posts/xdd-ch05-requirements-to-prd.md
  src/content/posts/xdd-ch08-tdd-spec-to-test.md
Due: prettier --write --plugin-search-dir=.

docs(tdd-spec-to-test): improve AI coding and test example
  src/content/posts/xdd-ch08-tdd-spec-to-test.md
Due: prettier --write --plugin-search-dir=.

docs: update diagram with dev process flow
  docs/diagram.md
  docs/figs/diagram.png
Due: prettier --write --plugin-search-dir=.

docs: remove xdd-ch01 through xdd-ch05 posts
  src/content/posts/xdd-ch01-framework-to-domain.md
  src/content/posts/xdd-ch02-same-requirements-different-code.md
  src/content/posts/xdd-ch03-what-is-ddd.md
  src/content/posts/xdd-ch04-requirements-to-objects.md
  src/content/posts/xdd-ch05-sdd-spec.md
Due: prettier --write --plugin-search-dir=.

build: Upgrade Astro and core integrations
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/Featured.astro
  src/components/LatestPosts.astro
  src/components/RecentProjects.astro
  src/content.config.ts
  src/content/posts/agent-design-pattern-catalogue.md
  src/content/posts/langchain-js.md
  src/content/posts/mastra-ai-101-lecture-using-mcp.md
  src/content/posts/mastra-ai-book-principles-of-building-ai-agents.md
  src/content/posts/mastra-ai-workshop-memo-generator.md
  src/content/posts/mental-model-for-generative-app.md
  src/content/posts/plan-execute-agent.md
  src/layouts/BaseLayout.astro
  src/pages/blog.astro
  src/pages/featured.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/index.astro
  src/pages/rss.xml.js
  src/pages/tags/[tag].astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(blog): implement editorial density design
  docs/superpowers/specs/2026-04-18-blog-list-editorial-density-design.md
  src/components/BlogPost.astro
  src/components/Featured.astro
  src/pages/blog.astro
  src/pages/featured.astro
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style(layout): adjust global content width and navigation
  src/components/Navigation.astro
  src/layouts/BaseLayout.astro
  src/layouts/MarkdownPostLayout.astro
  src/layouts/MdxProjectLayout.astro
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

ci(deploy): upgrade Node.js and add pnpm support
  .github/workflows/deploy.yml
Due: prettier --write --plugin-search-dir=.

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{astro,ts,tsx,js,jsx,json,md,css,scss,yml,yaml}
  eslint --fix: any of: *.{astro,ts,tsx,js,jsx}
  astro check: any of: *.{ts,tsx,astro}
