Repository tkhwang/tkhwang.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., eslint --fix, astro check

.lintstagedrc.json:

{
  "*.{astro,ts,tsx,js,jsx,json,md,css,scss,yml,yaml}": [
    "prettier --write --plugin-search-dir=."
  ],
  "*.{astro,ts,tsx,js,jsx}": "eslint --fix",
  "*.{ts,tsx,astro}": "astro check"
}

refactor(component): adjust layout and date formatting for improved readability
  src/components/Card.astro
  src/components/Datetime.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

refactor(config): streamline Vite plugin configuration in astro.config.ts and update VSCode formatter settings
  .vscode/settings.json
  astro.config.ts
  eslint.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

refactor(component): update Card component styling for improved text emphasis
  src/components/Card.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat: customize blog
  .github/workflows/deploy.yml
  package-lock.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/Navigation.astro
  src/components/NavigationWrapper.astro
  src/content/posts/2018-09-11-great-new-start.md
  src/content/posts/2024-06-29-typescript-how-to-use-unknown.md
  src/content/posts/2024-06-29-typescript-structural-type-and-excess-property-check.md
  src/content/posts/2024-07-02-typescript-how-to-use-object-type-union.md
  src/content/posts/2024-07-02-typescript-option-vs-mandatory-undefined.md
  src/content/posts/2024-07-03-typescript-what-is-the-type-of-error-in-try-catch.md
  src/content/posts/2025-02-16-mental-model-for-generative-app.md
  src/content/posts/2025-06-21-reactjs-context-module-pattern.md
  src/content/posts/2025-08-01-agent-design-pattern-catalogue.md
  src/content/posts/2025-08-08-langchain-js.md
  src/content/posts/2025-08-12-crewai-agents.md
  src/content/posts/2025-08-13-mastra-ai-book-principles-of-building-ai-agents.md
  src/content/posts/2025-08-14-mastra-ai-workshop-memo-generator.md
  src/content/posts/2025-08-19-mastra-ai-101-lecture-using-mcp.md
  src/content/posts/2025-08-27-plan-execute-agent.md
  src/content/posts/2025-09-01-langchain-rag-pipeline.md
  src/content/posts/dropout.md
  src/content/posts/post-2.md
  src/content/posts/post-3.md
  src/content/posts/post-4.md
  src/content/posts/vggnet.md
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/projects/index.astro
  src/pages/rss.xml.js
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

config(package): add sharp package and update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

feat(featured): update featured posts logic and add featured flag to posts
  src/components/Featured.astro
  src/content/config.ts
  src/content/posts/2024-06-29-typescript-how-to-use-unknown.md
  src/content/posts/2024-06-29-typescript-structural-type-and-excess-property-check.md
  src/content/posts/2024-07-02-typescript-how-to-use-object-type-union.md
  src/content/posts/2024-07-02-typescript-option-vs-mandatory-undefined.md
  src/content/posts/2024-07-03-typescript-what-is-the-type-of-error-in-try-catch.md
  src/content/posts/2025-02-16-mental-model-for-generative-app.md
  src/content/posts/2025-06-21-reactjs-context-module-pattern.md
  src/content/posts/2025-08-01-agent-design-pattern-catalogue.md
  src/content/posts/2025-08-08-langchain-js.md
  src/content/posts/2025-08-12-crewai-agents.md
  src/content/posts/2025-08-13-mastra-ai-book-principles-of-building-ai-agents.md
  src/content/posts/2025-08-14-mastra-ai-workshop-memo-generator.md
  src/content/posts/2025-08-19-mastra-ai-101-lecture-using-mcp.md
  src/content/posts/2025-08-27-plan-execute-agent.md
  src/content/posts/2025-09-01-langchain-rag-pipeline.md
  src/content/posts/post-1.md
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(post): mark agent design pattern post as featured and clean up content
  src/content/posts/2025-08-01-agent-design-pattern-catalogue.md
Due: prettier --write --plugin-search-dir=.

feat(ads): add ads.txt file for ad network configuration
  public/ads.txt
Due: none

feat(blog): enhance blog post styling and structure
  src/components/BlogPost.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

doc(readme): update README to reflect new project structure and theme information
  README.md
Due: prettier --write --plugin-search-dir=.

style(blog): improve BlogPost component layout and styling
  src/components/BlogPost.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(blog): enhance MarkdownPostLayout and MdxProjectLayout with improved date formatting and tag display
  src/layouts/MarkdownPostLayout.astro
  src/layouts/MdxProjectLayout.astro
  src/pages/tags/[tag].astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

fix(blog): encode tag URLs in MarkdownPostLayout for proper linking
  src/layouts/MarkdownPostLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

fix(blog): improve publication date formatting in MdxProjectLayout
  src/layouts/MdxProjectLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(blog): add Giscus comment system to blog layout
  src/components/Giscus.astro
  src/layouts/MarkdownPostLayout.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

refactor(Giscus): streamline Giscus script loading and configuration
  src/components/Giscus.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(layout): add Google Ads script to BaseLayout for monetization
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

fix(index): improve paragraph formatting for better readability
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(translation): add Korean translation of "Learn In Public" article
  src/content/posts/2020-04-22-learn-in-public-korean-translation.md
Due: prettier --write --plugin-search-dir=.

refactor(translation): update Korean translation of "Learn In Public" article
  src/content/posts/2020-04-22-learn-in-public-korean-translation.md
Due: prettier --write --plugin-search-dir=.

feat(config/seo): update site configuration and enhance SEO metadata
  astro.config.mjs
  src/config/site.ts
  src/layouts/BaseLayout.astro
  src/layouts/MarkdownPostLayout.astro
  src/layouts/MdxProjectLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

fix(layout): update Open Graph and Twitter metadata handling
  src/layouts/BaseLayout.astro
  src/layouts/MarkdownPostLayout.astro
  src/layouts/MdxProjectLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(post): add new article on E2E testing strategies using TDD and fixture patterns
  src/content/posts/2025-10-22-end-to-end-testing-using-fixture.md
Due: prettier --write --plugin-search-dir=.

fix(tests): update duplicate class room test case description and code formatting
  src/content/posts/2025-10-22-end-to-end-testing-using-fixture.md
Due: prettier --write --plugin-search-dir=.

feat(post): add new article summarizing insights from "내 코드가 그렇게 이상한가요?"
  src/content/posts/2025-11-01-book-my-code-is-so-weird.md
Due: prettier --write --plugin-search-dir=.

feat(post): refine language and clarity in "내 코드가 그렇게 이상한가요?" article
  src/content/posts/2025-11-01-book-my-code-is-so-weird.md
Due: prettier --write --plugin-search-dir=.

feat(layout): add custom font and style adjustments to BaseLayout and MarkdownPostLayout
  src/layouts/BaseLayout.astro
  src/layouts/MarkdownPostLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(latest-posts): increase displayed posts from 3 to 6 in LatestPosts component
  src/components/LatestPosts.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(verification): add Google site verification HTML file for SEO purposes
  public/googlefd290c4198e7eaf0.html
Due: none

feat(layout): update font in BaseLayout and adjust body class for typography consistency
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

chore(post): correct title formatting in "내 코드가 그렇게 이상한가요?" article
  src/content/posts/2025-11-01-book-my-code-is-so-weird.md
Due: prettier --write --plugin-search-dir=.

chore(.gitignore): add .temp directory to ignore list
  .gitignore
Due: none

chore(worktree): add initial setup configuration for worktree management
  .cursor/worktrees.json
Due: prettier --write --plugin-search-dir=.

feat(layout): enhance code block styling and container responsiveness in BaseLayout
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style(layout): reduce header spacing and adjust margins in BaseLayout
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style(layout): enhance tag display and styling in MarkdownPostLayout and tag pages
  src/layouts/MarkdownPostLayout.astro
  src/pages/tags/[tag].astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

feat(blog): add tags support to BlogPost component and update related components
  src/components/BlogPost.astro
  src/components/Featured.astro
  src/components/LatestPosts.astro
  src/layouts/MarkdownPostLayout.astro
  src/pages/blog.astro
  src/pages/tags/[tag].astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style(index): update introductory text and add muted styling for emphasis
  src/pages/index.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

style(layout): refactor code block styling for improved readability and responsiveness
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check

refactor(blog): normalize tags destructuring in BlogPost component
  src/components/BlogPost.astro
Due: prettier --write --plugin-search-dir=., eslint --fix, astro check
